.cards{
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
}
.cards .card{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cards .card img{
    width: 50px;
    height: auto;
}
.cards .card .info{
    width: 50%;
}
.cards .card p{
    color: rgb(59, 59, 59);
    font-weight: 300;
    font-size: 40px;
}
.cards .card h4{
    font-weight: 200;
}