.cards{
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    transition: all ease 0.2s;
    animation: aparecer 2.5s;
}
.cards .card{
    color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cards .card:nth-child(1){
    background: linear-gradient(131deg, rgb(16, 143, 16), rgb(22, 99, 95));
}
.cards .card:nth-child(2){
    background: linear-gradient(131deg, rgb(31, 124, 136), rgb(49, 118, 223));
}
.cards .card:nth-child(3){
    background: linear-gradient(131deg, rgb(182, 226, 20), rgb(97, 124, 0));
}
.cards .card img{
    width: 50px;
    height: auto;
}
.cards .card .info{
    width: 50%;
}
.cards .card p{
    font-weight: 300;
    font-size: 40px;
}
.cards .card h4{
    font-weight: 200;
}
@keyframes aparecer {
    0%{
        margin-top:230px;
    }
    100%{
        margin-top:25px;
    }
}