@keyframes popup {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}
@keyframes ico {
    0%{
        transform: rotate(1200deg);
        scale: 0;
    }
    100%{
        transform: rotate(0deg);
        scale: 1;
    }
}