:root{
  --vermelho:rgb(58, 59, 66);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Roboto;
  font-weight: 200;
  
}
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url("../font/Roboto-Bold.ttf");
  font-weight: 500;
}
.tudo {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
}
.items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}